/* .slick-arrow{
    background-color: red;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    margin: 0px 0px;
}
.slick-arrow:hover, .slick-arrow:active {
    background-color: red !important;
} */