.button-52_com {
  font-size: 16px;
  margin-top: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  width: 100%;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52_com:after {
  content: "";
  background-color: rgb(135, 232, 222);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52_com:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52_com {
    padding: 13px 50px 13px;
  }
}

/* button bun-pho */

.button-52_bun {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    width: 100%;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-52_bun:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52_bun:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-52_bun {
      padding: 13px 50px 13px;
    }
  }

  /* button an vat */

.button-52_anvat {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    width: 100%;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-52_anvat:after {
    content: "";
    background-color: #fa541c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52_anvat:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-52_anvat {
      padding: 13px 50px 13px;
    }
  }

  /* button dac san */

.button-52_dacsan {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    width: 100%;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-52_dacsan:after {
    content: "";
    background-color: #f5222d;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52_dacsan:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-52_dacsan {
      padding: 13px 50px 13px;
    }
  }


  /* button healthy */

.button-52_healthy {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    width: 100%;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-52_healthy:after {
    content: "";
    background-color: #722ed1;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52_healthy:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-52_healthy {
      padding: 13px 50px 13px;
    }
  }

  /* button drink */

.button-52_drink {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    width: 100%;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-52_drink:after {
    content: "";
    background-color: #eb2f96;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52_drink:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-52_drink {
      padding: 13px 50px 13px;
    }
  }



  /* ========================================================= */


  .wrapper-menu{
  }
  
  .a-menu{
    display: block;
    width: 260px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 1px solid #d9d9d9;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .span-menu{
    position: relative;
    z-index: 2;
  }
  
  .a-menu:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
  }

  .a-menu-red{
    display: block;
    width: 260px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    border: 1px solid #d9d9d9;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    background: #ff003b;
    transition: all .35s;
  }
  
  .a-menu:hover{
    color: #fff;
  }
  
  .a-menu:hover:after{
    width: 100%;
  }

