.search-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height:10vh;
  padding-top: 0px;
  box-sizing: border-box;
}

.search {
    position: relative;
  }
  
  .search button,
  .search span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .search > * > svg {
    display: block;
  }
  
  .search span {
    left: 20px;
    opacity: .5;
    margin-top: 1px;
  }
  
  .search button {
    right: 20px;
    left: auto;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    color: #333;
  }
  
  .search button:hover {
    color: #f48fb1;
  }
  
  .search input {
    box-sizing: border-box;
    display: block;
    width: 700px;
    height: 50px;
    border-radius: 5px;
    padding: 0 50px 0 45px;
    font-size: 20px;
    outline: none;
    border: 2px solid #f48fb1;
    background: white;
  }